.random-planet{
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #121314;
    justify-content: center;
}

.random-planet .planet{
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.random-planet .planet img{
     border-radius: 10px;
     width: 80%;
 }
.random-planet .info{
    min-width: 60%;
}
.random-planet .info .name{
    text-align: center;
    margin: 5px 0 10px;
}
.random-planet .info ul{
    padding-top: 10px;
}
.random-planet .info ul li{
    text-transform: capitalize;
    margin-bottom: 10px;
    border-bottom: 1px solid #91919126;
    width: 35%;
}
