.Header{
    min-height: 80px;
    display: flex;
    align-items: center;
    background: red;
    padding: 0 20px;
}
.Header h1,
.Header ul{
    display: flex;
    align-items: center;
    min-height: 55px;
    margin: 0;
}
.Header h1{
    cursor: default;
}
.Header ul li{
    margin-right: 5px;
    transition: ease .4s;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Header ul li:hover{
    color: #5183ce;
    transition: ease .4s;
}
